{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>
    <form method="POST" action="{{ path('app_sec_login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('login_csrf') }}">

        <div class="mb-3">
            <label for="username" class="form-label">E-mail</label>
            <input type="text" id="username" name="_username" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}
