<IfModule mod_rewrite.c>
    RewriteEngine On

    # Uncomment the line below if your site is running in a subdirectory
    # RewriteBase /your-subdirectory

    # Redirect non-existent directories and files to the front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
